<md-content class="md-padding">
	<span flex="10"></span>
	<div flex="10">
	<img src="https://image.tmdb.org/t/p/w150{{person.profile_path}}">
	</div>
	<span flex="5"></span> 
	<div flex layout="column">
		<span>Name: {{person.name}}</span>
		<span>Biography: {{person.biography}}</span>
		<span>Birthday: {{person.birthday}}</span>
		<span>From: {{person.place_of_birth}}</span>
	</div>
</md-content>
	<!--   /5wD7Z5xqbXvWzM9odFYQsAnNTqM.jpg </div>
<div layout="row" flex layout-fill ng-style="{'background-image':'url(https://image.tmdb.org/t/p/w1280'+ person.backdrop_path +')'}">
	> 
